{% extends "base.html" %}
{% load app_utils %}
{% block title %}Code Installation{% endblock %}
{% block stylesheets %} {% endblock %}
{% block scripts %}
<script src="/static/js/js.cookie.js"></script>
<script>
    function openActionRecorder() {
        var btTxt = $(".ladda-label").text();
        {% if path.is_verified %}
            if (btTxt == 'Test Action Recorder') {
                window.location = "{% url 'setup:action-test-check' ac_seq %}";
            } else {
                window.open("{% url 'visualizer:index' ac_seq %}", "_blank");
            }
        {% else %}
            window.location = "{% url 'setup:code-setup' ac_seq %}?redirect=true";
        {% endif %}
    }
</script>
{% endblock %} {% block maincontent %}
<div class="row">
    <div class="col-md-8 col-md-offset-3 col-lg-8">
        <div class="header-secondary">
            <div class="col-lg-5 col-md-5">
                <a href="{% url 'setup:workflow' ac_seq %}"><i class="fa fa-arrow-left fa-2x icon-gray" aria-hidden="true"></i></a>
                <h3 class="displaybl text-change_info">No-code Event Tracker</h3>
            </div>

            <div class="col-md-6 col-lg-6 heading-fixing">
                <div class="header-message">
                    <p id="actNotify">Track website visitor activity</p>
                </div>
            </div>
            <!--			smiley-green,red,yellow to differnetiate the warning, error and success simley's in the bar...-->
            <div class="col-md-1 col-lg-1 {% if evt_count %} smiley-style-green {% else %}smiley-style-yellow{% endif %}">
                <i class="fa fa-smile-o fa-2x smiley-icon" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<!--				 This is the row which is the sidenavbar in the setup's screens-->
<div class="row">
    {% include 'workflow/flow_left_nav.html' %}
    <div class="col-md-8 col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h1 class="text-change_info font_styles">Start collecting website data - without writing any code!
							</h1>
                    </div>
                </div>
<!-- 
                <div class="row">
                    <div class="main-header-submessage">
                        <p>You can watch the video to get started or notify your wingman for a free setup. <a href="#book-a-demo" class="code-demo-a">Choose your time slot</a></p>
                    </div>
                </div> -->

                <div class="row main-message">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <iframe width="300" height="200" class="iframestyle" src="https://www.youtube.com/embed/EQYxED8Sk44" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <!-- <p class="top-message-intro">Introducing Action Recorder</p> -->
                            <ul class="signup-ul">
                                <li class="intro-menu-li">Track key actions that users take on your website such as button clicks, form submissions and cart abandonments</li>
                                <li class="intro-menu-li">Set up relevant events by simply pointing and clicking on various parts of your website</li>
                                <li class="intro-menu-li">Boost your marketing efforts by sending the collected website data to various marketing tools - without any code!</li>
                            </ul>
                        </div>
                        {% if member.access_type < 2 %}
                            <div class="row cta-div">
                                <center>
                                    <section class="progress-demo">
                                        <button class="ladda-button" data-color="green" data-style="expand-right" data-toggle="modal" onclick="openActionRecorder();"><span class="ladda-label">Launch No-code Event Tracker</span></button>
                                        <a class="verify_links" href="{% url 'setup:action-test-check' ac_seq %}">Verify the Event data <i class="fa fa-arrow-right"></i></a>
                                    </section>
                                    <div class="call-to-action-label">
                                        <!--													<center>-->
                                        <!-- <p>Start recording. It’s free for your first Action.</p> -->
                                        <!--													</center>-->
                                    </div>
                                </center>
                            </div>
                        {% endif %}


                </div>

            </div>
        </div>
    </div>
</div>


</div>

<script>
    {% if path.is_verified and not evt_count %}
    $(document).ready(function () {
        function polling() {
            $.ajax({
                data: {
                    'csrfmiddlewaretoken': Cookies.get('csrftoken')
                },
                type: 'POST',
                url: '{% url "setup:check-action-recorded" ac_seq %}',
                timeout: 10000,
                success: function (res) {
                    if (res == 'true') {
                        $('.smiley-style-yellow').addClass('smiley-style-green').removeClass('smiley-style-yellow');
                        $('#actNotify').text('Happy to see that you’ve configured Actions');
                        $('.ladda-label').text('Test Action Recorder');
                    }
                },
                error: function () {
                    clalert('error', 'There is an error. Please reload the page.');
                }
            });
        }
        polling();
        (function poll() {
            setInterval(function () {
                polling();
            }, 10000);
        })();
    });
    {% endif %}
</script>
{% endblock %}